.dialog-container {
    display: none;
}
.dialog-container .overlay {
    /*background-color: #cccccc;*/
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    display: flex;
}
.dialog {
    width: 500px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}

.dialog .dialog-title {
    background-color: #333333;
    color: white;
    font-size: 32px;
    padding: 12px;
}
.dialog-content {
    gap: 12px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.dialog-content input {
    width: 100%;
    padding: 12px;
    font-size: 20px;
    /*margin: 12px;*/
}
.dialog-action {
    display: flex;
    gap: 10px;
    padding: 10px;
}
.dialog-action button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
    font-size: 24px;
    color: white;
}
.cancel-btn {
    background-color: #f56c6c;
}
.save-btn {
    background-color: #27cd92;
}